/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.cart {
  display: flex;
  flex-direction: column;
  background-color: #303150;
  border-radius: 10px;
}
